@model WishroundProject.Models.AllWishesModel

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Content/wish.css" rel="stylesheet" />
}
<div class="container">
    <div class="page-box">
        <div class="page-logo">
            <h2><b>My wishes</b></h2>
        </div><!-- /.account-logo -->
        <div class="page-box-body">
            <div class="row">
                @if (Model.Wishes.Count > 0)
                {
                    foreach (var wish in Model.Wishes)
                    {
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
                            <a href="~/wish/@wish.PublicId" class="thumbnail">
                                <img src="@wish.ImageUrl" />
                                <p>@wish.Name</p>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <div class="col-xs-12">
                        <p>Wishes not found</p>
                    </div>
                    <div class="col-xs-12">
                        <a href="/" class="thumbnail">
                            Create
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
