@model WishroundProject.Models.CreateWishModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="text-vertical-center">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                @using (Html.BeginForm("Create", "Wish", FormMethod.Post, new { id = "create-wish", @class = "input-group  input-group-lg", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-gift"></span></span>
                    @Html.TextBoxFor(m => m.URL, new { @class = "form-control", placeholder="URL" })
                }
            </div>
            <div class="col-sm-3"></div>
        </div>

        <br>
        <a href="#" onclick="$('#create-wish').submit()" class="btn btn-dark btn-lg">Хочу желание</a>
    </div>
</div>
